<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit quia
        voluptates cumque dolor asperiores! Molestias iure officiis nihil
        impedit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit quia
        voluptates cumque dolor asperiores! Molestias iure officiis nihil
        impedit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit quia
        voluptates cumque dolor asperiores! Molestias iure officiis nihil
        impedit?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
